:host {
  vertical-align: middle;
}
a {
  min-height: 60px;
}
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
.mat-subheader {
  color: #3e3f42;
}
h3,
h5 {
  font-weight: 500;
}
.profile-card {
  padding: 30px;
  border-bottom: 1px solid #eaedf3;
}

.profile-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.settings-button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 100px;
  top: 35px;
  background-color: white;
  border: none;
  padding: 0;
}
.header {
  text-align: center;
  margin-top: 14px;
}
.header h5 {
  color: #9ea0a5;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.5;
}
.dropdown-btn {
  background-color: white;
  width: 100%;
  border: none;
}

.dropdown-container {
  padding-left: 40px;
}
.logo {
  border-color: unset;
}

.mat-icon svg {
  color: #828282;
}

.arrows {
  margin-left: auto !important;
}
.material-icons {
  font-size: inherit;
}
.mat-nav-list {
  padding: 0;
}
.dashboard-icon {
  color: #1665d8 !important;
}
:host /deep/ .mat-list-item {
  min-height: 60px; 
  border-bottom: 1px solid #eaedf3;
}

:host /deep/ .mat-list-item-content {
  padding: 0 !important;
}

.dash-options {
  padding: 16px 30px 30px;
}
.mat-divider {
  width: 80%;
  margin: 0 auto 0 auto;
}

:host /deep/ .mat-subheader {
  padding: 0 0 0 12px;
}
:host /deep/ .mat-icon {
  height: unset;
  width: unset;
  background-repeat: unset;
  display: unset;
}
