:host {
    vertical-align: middle;

}
h2, h3, h4, h5{
    margin-bottom: 0;
}
.mat-subheader {
    color: #3e3f42;
}
h3, h5{
    font-weight: 500;
}
.profile-card{
    padding: 30px;
}

.profile-card img{
    width: 97px;
    height: 97px;
    object-fit: cover;
    border-radius: 50%;
}

.settings-button{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    left: 100px;
    top: 35px;
    background-color: white;
    border: none;
    padding: 0;
}
.header{
    text-align: center;
    margin-top: 14px;
}

.header h5{
    color: #9ea0a5;
    font-size: .875rem;
    font-weight: 400;
}
.dropdown-btn{
    background-color: white;
    width: 100%;
    border: none;
}

.dropdown-container{
    padding-left: 50px;
}
.logo {
    border-color: unset;
}

.mat-icon svg{
    color: #828282;
    margin-left: 12px;
}

.arrows{
    margin-left: auto!important;
}
.material-icons {
    font-size: inherit;
}
.mat-nav-list{
    padding: 0;
}
.dashboard-icon{
    color:#1665d8!important;
}