h4,h5{
    padding-left: 30px;
    font-size: 1rem;
}
ul li{
    list-style: none;
}
.mat-toolbar{
    background:white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.mat-toolbar-row{
    padding: 0;
}
.home-button{   
    border-width: 0 0.9px 0 0 ;
    border-color: rgba(0,0,0,.12);
    height: 64px;
    background-color: transparent;
    padding: 0;
    width: 250px;
}
.mat-form-field{
    padding-right: 30px;
    font-size: .95rem;
    width: 150px;
}
svg{
   color: #6b6c6f
}

